.app-login-main-content {
  width: 70%;
}

.login__container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.alert__notify__top {
  position: absolute !important;
  top: 15%;
  left: 45%;
  z-index: 1;
  width: 20%;
}